<h1>Article show page</h1>
<h3>Delete for: <h2 class="confirm"><%= @todo.tags %></h2></h3>

<p>
  <form action="/articles/<%= @todo.id %>/delete" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
  </form>
<br />

<p>
<a href="/articles/<%=@todo.id%>/edit">Edit Article </a>
</p>